body {
    color:darkgreen;
    padding-bottom: 2rem;
}
a {
    color:#4A9E4B;
}
nav {
    height: 70px;
    font-size: 24px;
    margin-top: 12px;
    padding-top: 17px;
}
.navbar-fixed-top {
    margin-top: 21px;
    border-width: 0 0 1px;
    }
span {
    font-size: 29px;
    font-weight: lighter;
}
.jumbotron {
    margin-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    /*background-color: #eee;*/
    background-image: url(img/image.jpg);
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
    
}
#pinfo {
    font-family: ubuntu;
    font-size: 20px;
    font-variant: inherit;
}
li {
    text-decoration: none;
    text-decoration-line: none
}
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
    text-align: center;
}
